APScheduler==3.5.1
bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
Django==2.2.24
get==1.0.3
idna==2.7
post==1.0.2
public==1.0.3
pycparser==2.18
pytz==2018.5
query-string==1.0.2
request==1.0.2
requests==2.19.1
six==1.11.0
tzlocal==1.5.1
urllib3==1.23
