body{
    background-image: url('../img/kitchen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

table{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
}

#quote{
    border:1px solid black;
    vertical-align: top;
    float: right;
    background-color: gainsboro;
    font-family: 'PT Sans Narrow', sans-serif !important;
    font-size: 20px;
    padding: 0 1%;
}

#link{
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    margin-top: 5% !important;
}


hr{
    display: block;
    margin-top: 5% !important;
    border: 1.5px solid black !important;
}

.card{
    background-image: url('../img/paper.jpg');
    background-size: cover;
    display: inline-block !important;
    vertical-align: top !important;
    text-align: center;
    border:1px groove black !important;
    box-shadow: 1px 2px gray;
    font-size: 16px;
}


.ing{
    list-style-type: square;
    text-align: left;
}

form{   
    display: inline-block;
}

#Inventory{
    vertical-align: top;
    display: inline-block;
    border:2px groove black; 
    background-color: rgb(255, 255, 255);  
    margin: 5% 0 0 5%; 

}

#fridge{
    background-image: url('../img/fridge-inside.jpg');
    background-size:cover;
    display: inline-block;
    margin-left:25%;
    width:450px;
    height:500px;
    border:1px solid black;
    border-radius: 30px;
}
#fridge-open{
    background-image: url('../img/fridge-outside.jpg');
    background-size:cover;
    display: inline-block;
    margin-left:25%;
    width:450px;
    height:500px;
    border:1px solid black;
    border-radius: 30px;
}

#bottom{
    display: block;
    margin-top: 2%;
}


.bottom_card{
    display: inline-block;
    width:20% !important;
    border:1px solid black;
    margin: 3%;
    text-align: center;
    border-radius: 20px;
}

#close{
    display: block;
    margin-left: 40%;
}