.bg-info{
    display: block;
    margin: 10% 0 0 40%;
    padding: 1%;
    width:20% !important;
    box-shadow: 1px 2px black;
}
input {
    width:90%;
    margin-left: 5% !important;
}
button{
    margin-left: 40% !important;
}