
.btn-primary{
    display: block !important;
    width: 5%;
}
body{
    background-image: url('../img/report.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#container{
    display: block !important;
    background-color: rgba(0,0,0,0.2) !important;
}
.card{
    display: inline-block !important;
    border:1px solid black;
    width:14%;
}

#chartContainer{
    margin-top: 100px !important;
}

a{
    display: block;
}