<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>Anyone can cook.</p>
<i style='margin-left: 20px; text-decoration: '> - Auguste Gusteau</i>

		<p>Product currently in database</p>
		<table>
			<thead>
				<tr>
					<td>Name</td>
					<td>Desc</td>
					<td>Type</td>
					<td>Sell Price</td>
					<td>Action</td>
					<td>Stock</td>
				</tr>
			</thead>
			<tbody>
				{%for product in products%}
				<tr style='text-align: center'>
					<td>{{product.product_name}}</td>
					<td>{{product.description}}</td>
					<td>{{product.product_type}}</td>
					<td>{{product.sell_price}}</td>
					<form action='/make_food' method='post'>
						{%csrf_token%}
						<td><button>Make</button></td>
						<input type="hidden" name="id" value='{{product.id}}'>
					</form>
					<td>{{product.stock}}</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
		<h2>Inventory</h2>
		<table>
		<thead>
			<tr>
				<td>Name</td>
				<td>Stock</td>
			</tr>
		</thead>
		<tbody>
			{%for ingredient in ingredients%}
			<tr>
				<td>{{ingredient.ingredient_name}}</td>
				<td>{{ingredient.stock}}</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
	</div>

</body>
</html>