<!DOCTYPE html>
<html>
<head>
	<title>Cook Room</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/cook.css' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|PT+Sans+Narrow" rel="stylesheet">
</head>
<body>
	<div id="link">
		<a href="/dashboard/">Back to Your truck</a>
	</div>
	<div id="quote">
			<p>Anyone can cook.</p>
			<p style='margin-left: 20px; text-decoration;'><i> - Auguste Gusteau</i></p> 
		</div>
		{% if messages %}
      		{% for message in messages %}
      			{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
      				<p style="color : red">{{message}}</p>
      			{% endif %}
      		{% endfor %}
		{% endif %}
	<hr>
			{%for product in products%}
			<div class="card">
				<h5>{{product.product_name}}</h5>
				<p>Ingredient:</p>
				
				<ul class="ing">	
					{% if product.ingredient_A.ingredient_name %}
						<li class="ing">{{product.ingredient_A.ingredient_name}}</li>
					{% endif %}
					{% if product.ingredient_B.ingredient_name %}
						<li class="ing">{{product.ingredient_B.ingredient_name}}</li>
					{% endif %}
					{% if product.ingredient_C.ingredient_name %}
						<li class="ing">{{product.ingredient_C.ingredient_name}}</li>
					{% endif %}
					{% if product.ingredient_D.ingredient_name %}
						<li class="ing">{{product.ingredient_D.ingredient_name}}</li>
					{% endif %}
				</ul>
			<p>Stock: {{product.stock}}</p>
			<div id="choice">	
				<form action='/make_food' method='post'>
					{%csrf_token%}
						<input type="hidden" name="id" value='{{product.id}}'>
						<button class="btn btn-primary">Make</button>
				</form>
				<form action='/make10_food' method='post'>
					{%csrf_token%}
						<button class="btn btn-primary">Make 10</button>
						<input type="hidden" name="id" value='{{product.id}}'>
				</form>
			</div>	
		</div>
		{%endfor%}
		<div id="Inventory">
		<table class="table">
		<h2>Inventory</h2>
		<thead class="bg-info">
			<tr>
				<th>Name</th>
				<th>Stock</th>
			</tr>
		</thead>
		<tbody>
			{%for ingredient in ingredients%}
			<tr>
				<td>{{ingredient.ingredient_name}}</td>
				<td>{{ingredient.stock}}</td>
			</tr>
			{%endfor%}
		</tbody>
		</table>
		</div>
		<div id="fridge">

		</div>
</body>
</html>