<!DOCTYPE html>
<html>
<head>
	{% load static %}
		<link rel="shortcut icon" href="{% static 'img/food-truck.png' %}"/>
	<title>Set Up Your Truck</title>
</head>
<body>
	<h1>Placeholder for creation page</h1>
	<form action='/create_truck/' method='post'>
		{%csrf_token%}
		<p>Truck name: <input type="text" name="name"></p>
		<p>Location: <select name='location'>
			{%for location in locations%}
			<option value='{{location.id}}'>{{location.location_name}}</option>
			{%endfor%}
		</select></p>
		
		<button type=submit>Make your first truck</button>
	</form>
	<a href="/logout/"> Logout</a>
	<!-- When click on the button, generate a truck placeholder -->
</body>
</html> 