<!DOCTYPE html>
<html>
<head>
	<title>User Dashboard</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/dash.css' %}">
	<link rel="shortcut icon" href="{% static 'img/food-truck.png' %}"/>
	<script type="text/javascript" src="{% static 'JS/dash.js' %}"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Concert+One|Merienda" rel="stylesheet"></head>
<body onload="currentTime()">
	<div id="mySidenav" class="sidenav bg-dark">
  		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  		<a href="/shopping_list"><img src="../static/img/shopping.png" alt=""> Shop</a>
  		<a href="/cook"><img src="../static/img/cook.png" alt="cook"> Cook</a>
  		<a href="report"><img src="../static/img/report.png" alt="report icon"> Report</a>
  		<a href="/upgrade"><img src="../static/img/upgrade.png" alt="upgrade icon"> Upgrade</a>
  		<a href="/leaderboard"><img src="../static/img/leaderboard.png" alt="leaderboard"> Rank</a>
  		<a href="#"><img src="../static/img/setting.png" alt="setting"> Settings</a>
  		<a href="/tools"><img src="../static/img/tool.png" alt="tool"> Dev Tools</a>
  		<a href="/logout/"><img src="../static/img/logout.png" alt="logout"> Logout</a>
	</div>

		<!-- Use any element to open the sidenav -->
		<nav class="navbar navbar-dark bg-dark">
			<span onclick="openNav()">&#9776;</span>
			<div id="weather">
            <img src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Image">
			<p>Location: {{city}},</p>
			<p>Currernt temp: {{temperature}}°F,</p>
			<p>Sky: {{description}},</p>
			<p>server Date: {{date}}, server time: <b id="time"></b></p> 
			</div>
		</nav>
		<div id="main">
			<h1>Your Truck Name</h1>	
		</div>
		<div id="truck">
			<p>Your Shop</p>
			<div class="card">
				<h5>Item Name</h5>
				<p>desc</p>
				<p>Number</p>
			</div>
			<div class="card">
				<h5>Item Name</h5>
				<p>desc</p>
				<p>Number</p>
			</div>
			<div class="card">
				<h5>Item Name</h5>
				<p>desc</p>
				<p>Number</p>
			</div>
			<div class="card">
				<h5>Item Name</h5>
				<p>desc</p>
				<p>Number</p>
			</div>
			<div class="card">
				<h5>Item Name</h5>
				<p>desc</p>
				<p>Number</p>
			</div>
			<div>
				<form action='/move' method='POST'>
				{%csrf_token%}
				<p><select name='location'>
					{%for location in locations%}
							<option value='{{location.id}}'>{{location.location_name}}</option>
					{%endfor%}
				</select></p>
			<button type='submit'>Moving? (Costs $100)</button>
		</form>
			<p id="fund">Current Funds: {{user.fund}}</p>
			<a href="/sell" class="btn btn-danger">Sell</a>
		</div>
			{% if messages %}
      			{% for message in messages %}
      				{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
      				<p style="color : red;">{{message}}</p>
      				{% endif %}
      			{% endfor %}
    		{% endif %}
		</div>

</body>
</html>