<!DOCTYPE html>
<html>
<head>
	<title>Food Truck</title>
	<!-- {% load static %} -->
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body class="text-center">
	<div id="wrapper">
	<form class="form-signin">
		<h1 class="h3 mb-3 font-weight-bold">Sign in Here!</h1>
		<p>Email: <input type="email" name="email" class="form-control" placeholder="example@food_truck.com"></p>
		<p>Password: <input type="password" name="password" class="form-control" placeholder="password"></p>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>
	</div>
</body>
</html>