<!DOCTYPE html>
<html>
<head>
	<title>Login_Registration</title>
	<!-- {% load static %}
	<link rel="stylesheet" type="text/css" href="{%static  '/main.css' %}"> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div id="container" class="bg-info">
		<form action="/register/" method="POST" class="form-group" id="register">
			{% csrf_token%}
			<h2>Register Here!</h2>
    		{% if messages %}
      			{% for message in messages %}
      				{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
      				<p style="color : red;">{{message}}</p>
      				{% endif %}
      			{% endfor %}
    		{% endif %}
			<p>NickName: <input type="text" name="nickname" value=""></p>
			<p>Email: <input type="text" name="email" value=""></p>
			<p>password: <input type="password" name="password" value=""></p>
			<p>Confirm password: <input type="password" name="confirm" value=""></p>
			<button type="submit" class="btn btn-warning">Submit</button>
		</form>
	</div>
</body>
</html>