<!DOCTYPE html>
<html>
<head>
	<title>Daily Report</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/report.css' %}">
	<link rel="shortcut icon" href="{% static 'img/food-truck.png' %}"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- <script type="text/javascript" src="{% static "fusioncharts/fusioncharts.js" %}"></script>
   <script type="text/javascript" src="{% static "fusioncharts/themes/fusioncharts.theme.fint.js" %}"></script> -->
</head>
<body>
	<a href="/dashboard" class="btn btn-primary">Back</a>
	{% for report in reports%}
	<div class="card">
		<p>Revenue:{{report.revenue}}</p>
		<p>Cost:{{report.cost}}</p>
		<p>Profit:{{report.profit}}</p>
		<p>Item Sold:{{report.item_sold}}</p>
		<p>Item Spoiled:{{report.item_unsold}}</p>
		<p>Report Date: {{report.created_at}}</p>
	</div>
	{% endfor %}	
<!-- <div id="chart-1"></div>
{{ output|safe }} -->
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
</div>
<script type="text/javascript">
	window.onload =  function (){
		
	var date = new Date(2018,07,26)
	var chart = new CanvasJS.Chart("chartContainer", {
		animationEnabled: true,
		title: {
			text: "Financial Data"
		},
		axisX: {
			valueFormatString: "MMMM DD YYYY"
		},
		axisY2: {
			title: "Profit",
			prefix: "$",
			ValueFormatString: "###,###,###",
		},
		
		// legend: {
		// 	cursor: "pointer",
		// 	verticalAlign: "top",
		// 	horizontalAlign: "center",
		// 	dockInsidePlotArea: true,
		// 	itemclick: toogleDataSeries
		// },
		data: [{
		type: "scatter",
		axisYType: "secondary",
		name: "{{user.nickname}}",
		toolTipContent: "<span>{x} , profit : ${y}</span>",
		showInLegend: true,
		dataPoints: [
			{% for report in reports %}
			{ x: new Date({{ report.created_at|date:"Y" }}, {{ report.created_at|date:"m" }} -1, {{ report.created_at|date:"d"}}), y: {{report.profit}} },
			{% endfor %}	
		]
	}]
});
	// {x: new Date(selected_year, selected_month, selected_day), y: profit},

chart.render();

function toogleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	} else{
		e.dataSeries.visible = true;
	}
	chart.render();
	}
}
</script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>