<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="shortcut icon" href="{% static 'img/food-truck.png' %}"/>
	<title>Developer Tools</title>
	<style type="text/css">
		.container{
			width: 40%;
			display: inline-block;
			vertical-align: top;
		}
	</style>
</head>
<body>
	<div class='container'>
		<p>Ingredient Maker</p>
		<form action='/add_ingredient' method='post'>
			{%csrf_token%}
			<p>Name</p>
			<input type="text" name="ingredient_name">
			<p>Type</p>
			<input type="text" name="ingredient_type">
			<p>Desc</p>
			<input type="text" name="desc">
			<p>Price (must be number)</p>
			<input type="number" step='any' name="buy_price">
			<p></p><button type='submit'>Create Ingredient</button>
		</form>
		<p>Ingredient currently in database</p>
		<table>
			<thead>
				<tr>
					<td>Name</td>
					<td>Desc</td>
					<td>Type</td>
					<td>Buy Price</td>
				</tr>
			</thead>
			<tbody>
				{%for ingredient in ingredients%}
				<tr>
					<td>{{ingredient.ingredient_name}}</td>
					<td>{{ingredient.description}}</td>
					<td>{{ingredient.ingredient_type}}</td>
					<td>${{ingredient.buy_price}}</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
		<div class='container'>
		<p>Product Maker</p>
		<form action='/add_product' method='post'>
			{%csrf_token%}
			<p>Name</p>
			<input type="text" name="product_name">
			<p>Type (used to match demand type)</p>
			<select name='product_type'>
				<option value='breakfast'>Breakfast</option>
				<option value='meal'>Lunch and Dinner (aka meal)</option>
				<option value='snack'>Snack (and side)</option>
				<option value='drink'>Drink</option>
			</select>

			<p>Desc (can be null, but put something funny in here)</p>
			<input type="text" name="desc">
			<p>Price (must be number)</p>
			<input type="number" step='any' name="sell_price">
			
			<p>Recipe:</p>
			<p>Ingredient_A</p>
			<select name='ingredient_A'>
				{%for ingredient in ingredients%}
				<option value='{{ingredient.id}}'>{{ingredient.ingredient_name}}</option>	
				{%endfor%}
			</select>
			
			<p>Ingredient_B</p>
			<select name='ingredient_B'>
				<option value=''></option>
				{%for ingredient in ingredients%}
				<option value='{{ingredient.id}}'>{{ingredient.ingredient_name}}</option>	
				{%endfor%}
			</select>

			<p>Ingredient_C</p>
			<select name='ingredient_C'>
				<option value=''></option>
				{%for ingredient in ingredients%}
				<option value='{{ingredient.id}}'>{{ingredient.ingredient_name}}</option>	
				{%endfor%}
			</select>

			<p>Ingredient_D</p>
			<select name='ingredient_D'>
				<option value=''></option>
				{%for ingredient in ingredients%}
				<option value='{{ingredient.id}}'>{{ingredient.ingredient_name}}</option>	
				{%endfor%}
			</select>

			<p></p><button type='submit'>Create Product</button>
		</form>
		<p>Product currently in database</p>
		<table>
			<thead>
				<tr>
					<td>Name</td>
					<td>Desc</td>
					<td>Type</td>
					<td>Sell Price</td>
					<td>Ingredient A</td>
					<td>Ingredient B</td>
					<td>Ingredient C</td>
					<td>Ingredient D</td>
					<td>Cost</td>
				</tr>
			</thead>
			<tbody>
				{%for product in products%}
				<tr>
					<td>{{product.product_name}}</td>
					<td style='min-width:300px; text-align: center'>{{product.description}}</td>
					<td>{{product.product_type}}</td>
					<td>${{product.sell_price}}</td>
					<td>{{product.ingredient_A.ingredient_name}}</td>
					<td>{{product.ingredient_B.ingredient_name}}</td>
					<td>{{product.ingredient_C.ingredient_name}}</td>
					<td>{{product.ingredient_D.ingredient_name}}</td>
					<td>{{product.cost}}</td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
	</div>
</body>
</html>