<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<link rel="shortcut icon" href="{% static 'img/food-truck.png' %}"/>
	<title>Upgrade</title>
</head>
<body>
	<h2>Here be upgrades</h2>
	<a href="/dashboard">back</a>
	<table>
		<thead>
			<th>Upgrade</th>
			<th>Purchased</th>
			<th>Cost</th>
		</thead>
		<tbody>
		{%for upgrade in upgrades%}
		<tr>
			<td>{{upgrade.name}}</td>
				{%if upgrade.activate == False%}
				<td>No</td>
				{%endif%}
				{%if upgrade.activate == True%}
				<td>Yes</td>
				{%endif%}
				<td>{{upgrade.cost}}</td>
		</tr>
		{%endfor%}
	</table>
	
	<h2>Development Tools (make new upgrade):</h2>
	<a href="/add_improvement">upgrade</a>
	<form action='/add_improvement' method='post'>
		{%csrf_token%}
		<p>Upgrade Name:<input type="text" name="name"></p>
		<p>Upgrade Cost:<input type="number" name="cost"></p>
		<button type='submit'>Create</button>
	</form>
</body>
</html>