<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
		<h3>Ingredient Avaliable for Sell</h3>
		<p>Current fund avaliable: {{user.fund}}</p>
			{% if messages %}
				{% for message in messages %}
					{% if message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
						<p style='color:red; font-weight: bold'>{{message}}</p>
					{% endif %}
				{%endfor%}
			{%endif%}
		<table>
			<thead>
				<tr>
					<td>Name</td>
					<td>Desc</td>
					<td>Buy Price</td>
					<td style='text-align: center'>Action</td>
					<td>Stock</td>
				</tr>
			</thead>
			<tbody>
				{%for ingredient in ingredients%}
				<tr>
					<td>{{ingredient.ingredient_name}}</td>
					<td>{{ingredient.description}}</td>
					<td>{{ingredient.buy_price}}</td>
					<form action='buy_ingredient' method='post'>
						{%csrf_token%}
						<td><button type='submit'>Buy!</button></td>
						<input type="hidden" name='id' value="{{ingredient.id}}">
					</form>
					<td style='text-align: center'>{{ingredient.stock}}</td>
					<td></td>
				</tr>
				{%endfor%}
			</tbody>
		</table>
</body>
</html>