<!DOCTYPE html>
<html>
<head>
	<title>User Dashboard</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/dash.css' %}">
	<script type="text/javascript" src="{% static 'JS/dash.js' %}"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Concert+One" rel="stylesheet">
</head>
<body>
	<div id="mySidenav" class="sidenav bg-dark">
  		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  		<a href="#">Shop list</a>
  		<a href="#">Settings</a>
  		<a href="/logout/"> Logout</a>
	</div>

		<!-- Use any element to open the sidenav -->
		<nav class="navbar navbar-dark bg-dark">
			<span onclick="openNav()">&#9776;</span>
		</nav>
		<div id="main">
			<h1>Welcome!</h1>
			<div id="weather">
			<p>Currernt temp: {{temp}}</p>
			<p>Current Humidity: {{humidity}}</p>
			</div>
		</div>
		<div id="truck">
			Your Truck
		</div>
</body>
</html>